html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    min-width: 320px;
}

.hometext {
    font-size: 25px;
}

/* Header */
.navbar .nav-item {
    color: #111;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar .navbar-brand {
    font-weight: 500;
    font-size: 22px;
}
/* Header */

.project_itm {
    border: solid black 5px;
    border-radius: 6px;
    padding: 10px;
    margin-top: 3%;
    display: padding-left;
    height: auto;
    justify-content: space-between;
}

.form {
    border: solid grey 3px;
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    position: relative;
    margin: 5% 0 0 25%;
}

.profile {
    border: solid grey 3px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5%;
    display: flex;
    height: auto;
    justify-content: space-between;
}

.image {
    max-height: 200px;
    max-width: 300px;
    border: green dashed 3px;
}

.chat {
    border: solid grey 3px;
    border-radius: 5px;
    margin-top: 5%;
    height: 500px;
    width: 300px;
}

.messages {
    padding: 10px;
    height: 430px;
    width: 300px;
    overflow-y: auto;
}

.messages::-webkit-scrollbar {
    width: 0;
}

.from {
    border-radius: 5px;
    color: white;
    background-color: blue;
    word-wrap: break-word;
    width: 250px;
    float: right;
    padding: 5px;
}

.to {
    border-radius: 5px;
    border: solid grey 3px;
    word-wrap: break-word;
    width: 250px;
    float: left;
    padding: 3px;
}

.input {
    padding: 8px;
    height: 70px;
    border-top: solid grey 3px;
}

.input form {
    display: flex;
    justify-content: space-between;
}

#submit {
    margin-left: 8px;
    font-family: 'Roboto', sans-serif;;
}
