<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/CSS/styles.css">
    <title>{{title}}</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://fms.sfu-kras.ru/">Научные проекты ФМШ</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/projects">Проекты</a>
                    </li>
                    {% if current_user.is_authenticated and current_user.role == 'admin'%}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ученики</a>
                    </li>
                    {% endif %}
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <form class="d-flex justify-content-end" role="search">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </ul>
                </ul>
            </div>
            {% if current_user.is_authenticated %}
            <p>
                <a class="navbar-brand" href="/profile/{{ current_user.id }}">{{ current_user.name }} {{
                    current_user.surname }}</a>
                <a class="btn btn-success" href="/logout">Выйти</a>
            </p>
            {% else %}
            <p>
                <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
                <a class="btn btn-success" href="/login">Войти</a>
            </p>
            {% endif %}
        </div>
    </nav>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>