{% extends "base.html" %}

{% block content %}
    <h1 class="mt-3">О нас</h1>
    <p class="hometext mt-4">Сайт на котором ученики и учителя(а также администрация) ФМШ смогут работать с научными проектами.
        Научный проект создаётся преподавателем или администратором, ученик может взяться за проект с позволения администрации.
        Коммуницировать между собой они могут в чате.</p>
    {% if not current_user.is_authenticated %}
    <h2 class="award mt-5">Зарегистрируйтесь или войдите, чтобы воспользоваться всеми функциями сайта</h2>
    {% endif %}
{% endblock %}