{% extends "base.html" %}

{% block content %}
    <div class="form">
        <form novalidate>
          <div class="mb-3">
            <label for="Email" class="form-label">Адрес электронной почты</label>
            <input type="email" class="form-control" id="Email">
          </div>
          <div class="mb-3">
            <label for="Password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="Password">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="RememberMe">
            <label class="form-check-label" for="RememberMe">Запомнить меня!</label>
          </div>
          <button type="submit" class="btn btn-success">Войти</button>
        </form>
    </div>
{% endblock %}